<meta charset="UTF-8">
<title>UCBE Forum</title>

<!-- CSS stylesheet -->
<link rel="stylesheet" type="text/css" href="/../assets/css/style.css">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">