//_landing.sass

// main intro sec styles
.intro-main
    height: 500px
    background: #000
    width: 100%
    position: relative

    .intro-text-but
        display: inline-block
        position: absolute
        top: 20%
        left: 10%

        h1
            font-size: 6rem
            color: $content-bg-color

        p
            font-size: 2rem
            color: $content-bg-color

        a
            background: $primary-color
            border-radius: .5rem
            color: $button-font-color
            font-size: 2rem
            padding: 1rem
            text-decoration: none

// top posts sec styles
.main-posts
    // ind-posts mixin
    @include ind-posts

