// _navbar.sass

nav
    height: 5rem
    width: 100%
    background: #fff
    box-shadow: 0 .5rem 1rem #222
    position: relative

    &:after
        @extend %clearfix

    h1
        float: left
        margin-left: 3%

        a
            text-decoration: none
            font-size: 2.4rem
            color: darken($content-border-color, 40)

    .stuff
        right: 3%
        top: 25%
        position: absolute

        div
            float: left
            margin-right: 2rem

            &.search-bar
                input
                    font-size: $info-font-size

            &.user-profile
                a
                    text-decoration: none
                    font-size: 2rem
                    color: $primary-color

        .new-post
            color: $primary-color
            width: 3.5rem
            height: 3.5rem
            cursor: pointer
            border: .2rem solid $primary-color
            border-radius: .5rem
            font-size: 3rem
            padding: 0
            line-height: 0
            transform: translate(0, -15%)
