//_newpost.sass 

// new post form styles
.new-post-form
    @extend %posts-bg
    &:after
        @extend %clearfix

    form
        width: 100%
        margin: auto

        .login-err-msg
            fload: left
            display: inline-block
            font-size: 1.6rem

        button
            @extend %primary-button

    .row 
        display: block

        input
            width: 99.6%
            margin: 2rem 0
            height: 2rem
            font-size: 1.6rem

            &:focus
                outline: 0

        textarea
            width: 99.6%
            font-size: 1.6rem

            &:focus
                outline: 0






// /* Rectangle: */
// background: #F1F1F1;
// border-radius: 25px;
// /* Rectangle 3: */
// background: #FFFFFF;
// border: 1px solid #979797;
// /* Rectangle 3: */
// background: #FFFFFF;
// border: 1px solid #979797;
// /* Rectangle 3: */
// background: #FFFFFF;
// border: 1px solid #979797;
// /* Type something…: */
// font-family: AvenirNext-Regular;
// font-size: 20px;
// color: rgba(0,0,0,0.75);
// Commenting as Guest:
// font-family: AvenirNext-Regular;
// font-size: 20px;
// color: rgba(0,0,0,0.45);
// text-align: left;
// /* submit comment button: */
// ;
// /* COMMENT: */
// font-family: AvenirNext-Regular;
// font-size: 20px;
// color: rgba(255,255,255,0.45);
// text-align: left;
// /* Title: */
// font-family: AvenirNext-Regular;
// font-size: 20px;
// color: rgba(0,0,0,0.75);
// text-align: left;