//base.css

// variables
$bg-color: #D8D8D8
$content-bg-color: #F1F1F1
$content-border-color: #979797
$primary-color: #4AB0C6
$primary-font: 'Roboto', sans-serif
$button-font-color: #fff
$info-font-size: 1.6rem

// clearing floats
%clearfix
    content: ""
    display: table
    clear: both

// posts styling
%posts-bg
    // height: 100px
    background: $content-bg-color
    border: $content-border-color .2rem solid
    border-radius: 1rem
    margin: 3rem
    padding: 4rem 3rem

//post and comment button
%primary-button
    float: right
    background: $primary-color
    border: 1px solid $content-border-color
    border-radius: 1rem
    color: $button-font-color
    font-size: 2rem
    padding: .5rem 1rem
    cursor: pointer
    margin: 2rem 0 2rem 2rem

// star
%main-star
    float: right
    width: 3rem
    height: 3rem
    margin: .1rem 1rem 0
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%)
    background: #ffbf00

// arrow
%main-arrow
    background: $primary-color
    border: none
    width: 1.5rem
    height: 1.5rem
    cursor: pointer

%uparrow
    @extend %main-arrow
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%)
    margin-bottom: 1rem

%downarrow
    @extend %main-arrow
    clip-path: polygon(50% 100%, 0 0, 100% 0)

%disabled-arrow
    background: lighten($primary-color, 20)
    border: none
    width: 1.5rem
    height: 1.5rem
    cursor: default
    
// main post style mixin
@mixin ind-posts
    .posts
        // individual posts background
        @extend %posts-bg
        &:after
            //clearfix mixin
            @extend %clearfix
        //selecting all classes that start with "post" 
        [class^="post"]
            display: block
        //creates all <p> with inline-block
        p
            display: inline-block
        //setting text to left
        .posts-text-all
            float: left
            // title and username
            .post-title-user
                // title styles
                p
                    font-size: 2.4rem
                    text-decoration: underline
                    margin: 0
                    margin-right: 1rem
                // username styles
                a
                    text-decoration: none
                    color: $primary-color
                    font-size: $info-font-size
                    // hover color
                    &:hover
                        color: darken($primary-color, 20)
            // category and comments
            .post-cat-comm
                p
                    margin: 0
                    font-size: $info-font-size
                    
                    &:last-child
                        margin-left: 2rem

html 
    font-size: 10px
    font-family: $primary-font

body
    background: $bg-color

//_reset.sass
@import _reset

//_navbar.sass
@import _navbar

//_signup.sass
@import _signup

//_login.sass
@import _login

//_user-profile.sass
@import _user-profile

//_landing.sass
@import _landing

//_newpost.sass
@import _newpost

//_posts.sass
@import _posts


