<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <header>
        <% ../partials/header %>
    </header>
    <div id="intro-main">
        <div id="intro-text">
            <h1>UCBE Forum</h1>
            <p>Message</p>
            <a href="/newpost">Start A Post</a>
        </div>
    </div>
    <div id="topposts">
        
    </div>
</body>

</html>