<!DOCTYPE html>
<html>

<head>
    <!-- head.ejs -->
    <% include ../partials/head %>
</head>

<body>
    <header>
    </header>
    <div class="new-post-form">
        <form method="POST" action="/createpost">
            <div class="row">
                <select name="category">
                    <option value="Html&Css">HTML & CSS</option>
                    <option value="Javascript">Javascript</option>
                    <option value="Node.js">Node.js</option>
                    <option value="Mysql">Mysql</option>
                </select>
            </div>
            <div class="row">
                <input type="text" name="title" placeholder="Title">
            </div>
            <div class="row">
                <textarea rows="10" name="post" placeholder="Type Something..."></textarea>
            </div>
            <% if(user_id) { %>
            <button type="submit">Submit</button>
            <% } else { %>
            <div class="login-err-msg">
            <% if(loginErrPost) { %>
            <%= loginErrPost %>
            <% } %>
                <a href="/login">Sign In</a>
            </div>
            <button type="submit" disabled>Submit
            </button>
            <% } %>
        </form>
    </div>
</body>

</html>