<!DOCTYPE html>
<html>

<head>
    <!-- head.ejs -->
    <% include ../partials/head %>
</head>

<body>
    <header>
<<<<<<< HEAD
        <!-- header.ejs -->
        <% include ../partials/header %>
=======
>>>>>>> parent of b2ee2e8... changed queries for landing and posts page; finished styling landing, posts, and newposts page; added navbar;
    </header>
    <!-- new post form -->
    <div class="new-post-form">
        <form method="POST" action="/createpost">
            <div class="row">
<<<<<<< HEAD
                <span>Topic:</span>
                <!-- topic -->
=======
>>>>>>> parent of b2ee2e8... changed queries for landing and posts page; finished styling landing, posts, and newposts page; added navbar;
                <select name="category">
                    <option value="UCBE Class">UCBE Class</option>
                    <option value="Html&Css">HTML & CSS</option>
                    <option value="SCSS/SASS">SCSS/SASS</option>
                    <option value="Javascript">Javascript</option>
                    <option value="Node.js">Node.js</option>
                    <option value="Mysql">Mysql</option>
                </select>
            </div>
            <div class="row">
                <!-- title -->
                <input type="text" name="title" placeholder="Title">
            </div>
            <div class="row">
                <!-- post -->
                <textarea rows="10" name="post" placeholder="Type Something..."></textarea>
            </div>
            <!-- if logged in shows submit button -->
            <% if(user_id) { %>
<<<<<<< HEAD
            <!-- login err message -->
                <div class="login-err-msg">
                    <%= postErr.postErr %>
                </div>
                <button type="submit">Submit Post</button>
                <!-- if not logged in shows sign up/login button -->
                <% } else { %>
                    <div class="signup-login">
                        <p>Like to leave a comment? Log In or Sign Up</p>
                        <a href="/login">Log In</a>
                        <a href="/signup">Sign Up</a>
                    </div>
                    <% } %>
=======
            <button type="submit">Submit</button>
            <% } else { %>
            <div class="login-err-msg">
            <% if(loginErrPost) { %>
            <%= loginErrPost %>
            <% } %>
                <a href="/login">Sign In</a>
            </div>
            <button type="submit" disabled>Submit
            </button>
            <% } %>
>>>>>>> parent of b2ee2e8... changed queries for landing and posts page; finished styling landing, posts, and newposts page; added navbar;
        </form>
    </div>
</body>

</html>