<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<form method="POST" action="/createcomment">
    <textarea rows="5" name="comment" placeholder="Type Something..."></textarea>
    <button type="submit">Submit</button>
</form>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="/assets/js/post-comment.js"></script>
</body>
</html>