<!DOCTYPE html>
<html>

<head>
    <!-- head.ejs -->
    <% include ../partials/head %>
</head>

<body>
<div class="sign-in">
    <div class="login-main">
        <h1>Sign Up to UCBE Coding Bootcamp Forum</h1>
        <form method="POST" action="/signing-in">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="user" placeholder="Full Name">
            <input type="password" name="password" placeholder="Password">
            <div class="error-msg">
                <%= err.errorM %>
            </div>
            <button type="submit">submit</button>
        </form>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</body>

</html>